body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row; /* Organiser les éléments en ligne (gauche pour le panneau et droite pour la section produit) */
	padding: 20px;
	height: 100vh;
	background-color: #F5F5DC;
}

.panel {
    width: 30%;
    background-color: #F5F5DC;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Empêche le panneau de se réduire */
}

.panel h2 {
	color: #D2691E;
}

.product-section {
    flex-grow: 1; /* La section des produits prend tout l'espace restant */
    background-color: #F5F5DC;
    overflow-y: auto;
    position: relative;
    height: 100%; 
}

.product-section h2 {
	margin-bottom: 20px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Deux colonnes */
	gap: 20px; /* Espace entre les produits */
}

.product-card {
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #888888;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: row-reverse; /* Place l'image à droite */
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; 
    word-break: break-word; 
}

.product-info {
	flex-grow: 1;
}

.product-info p {
	margin: 5px 0;
}

.product-info p span {
	font-weight: bold;
}

.product-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	gap: 5px;
}

.product-buttons button {
	border: none;
	padding: 5px 10px;
	border-radius: 5px; /* Coins arrondis */
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	background-color: #dc3545;
}

.product-buttons button:hover {
	opacity: 0.8;
}

.product-card i {
    font-size: 1.5em; /* Taille de l'icône, ajuste selon tes besoins */
    margin-left: 10px; /* Espace à gauche de l'icône */
    color: #555; /* Couleur de l'icône, modifiable */
}

.product-card i:hover {
    color: #D2691E;
}

/* Ajustements pour le filtre */
.filter-section form {
    display: flex;
    flex-direction: column; /* Disposition verticale des éléments */
    gap: 10px;
	margin-right: 25px;
	margin-top: 60px;
	padding-right: 20px;
	border-right: 1px solid #555;
	height: 100%;
}

.filter-section label {
    font-size: 16px;
    font-weight: 600;
}

.filter-section select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-section button {
    padding: 5px 15px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #D2691E;
    transition: background-color 0.3s ease;
}

.filter-section button:hover {
    background-color: #A0522D;
}