body {
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

h1, h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

.section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }