.navbar {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: #F5F5DC;
    border-bottom: 1px solid #dcdcdc;
}

.left-section
{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    flex:1;
}
.right-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    font-size:35px;
    text-decoration: none; /* Supprime le soulignement */
    flex:1;
}

.center-section {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-grow: 1; /* Permet à cette section de prendre l'espace restant */
    text-align: center;
}

.logo {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fondOFC {
    width: 100%;
}

.icon {
    width: 30px;
    height: 30px;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.menu {
    background-color: #F5F5DC;
    padding: 20px 0;
    border-top: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.menu a:hover {
    color: #FF7E42;
}

.no-underline {
    text-decoration: none;
    color: inherit;        
}

a {
    text-decoration: none; /* Supprime le soulignement par défaut */
  }

.right-section a {
    text-decoration: none;
}

.profile-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/logo/login.png'); /* Image par défaut */
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; /* Transition fluide */
}

.phone-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/logo/phone.png'); /* Image par défaut */
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; /* Transition fluide */
}

.profile-icon-logged-in {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/assets/img/logo/profil.png'); /* Image par défaut */
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; /* Transition fluide */
}

/* Change l'image au survol */
.profile-icon-logged-in:hover {
    background-image: url('/assets/img/logo/profil_orange.png'); /* Image au survol */
}


/* Change l'image au survol */
.profile-icon:hover {
    background-image: url('/assets/img/logo/login_orange.png'); /* Image au survol */
}

.phone-icon:hover {
    background-image: url('/assets/img/logo/phone_orange.png'); /* Image au survol */
}


.admin-icon {
    width:  60px;
    height: 60px;
    background-image:  url('/assets/img/logo/gear.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease; /* Transition fluide */
}

.admin-icon:hover {
    background-image:  url('/assets/img/logo/gear_orange.png');
}



.cart-container {
    position: relative;
    display: inline-block;
}

.cart-container .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff4500;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
}

.cart-container a {
    color: black; /* Couleur par défaut de l'icône */
    text-decoration: none; /* Supprime le soulignement */
    position: relative; /* Pour positionner le compteur */
}

.cart-container a:hover {
    color: #D2691E; /* Couleur orange au survol */
}

.cart-container .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #556B2F; /* Couleur de fond du compteur */
    color: white; /* Couleur du texte */
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%; /* Pour un compteur circulaire */
    display: inline-block;
    min-width: 20px; /* Taille minimale pour garder un cercle */
    text-align: center;
}

.fa {
    color: black; /* Couleur noire par défaut pour toutes les icônes */
}

.goog-te-gadget-simple {
    height: 35px;
    width: 35px;
    background: none;
    border: none;
}

.goog-te-gadget-icon {
    display: none;
}

.goog-te-gadget-simple span{
    display: none;
}

.translate-wrapper {
    position: relative; /* Conteneur avec position relative */
    z-index: 10; /* Le conteneur sera au-dessus de l'icône */
}

.translate-icon {
    position: absolute; /* Positionnement absolu de l'icône */
    top: 0; /* Aligné en haut à gauche du conteneur */
    left: 0; /* Aligné en haut à gauche du conteneur */
    font-size: 40px; /* Taille de l'icône */
    z-index: -1; /* L'icône sera derrière le conteneur */
    color: #000; /* Couleur de l'icône, ajustez selon vos besoins */
}
