body {
    margin: 0;
    font-size: 18px; 
    background-color: #F5F5DC;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #D2691E;
    text-align:center;
}

/*--------------------------FAVORIES---------------------------------*/

.products {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  background-color: #F5F5DC;
}

.product {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  flex: 0 0 25%; 
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.product img {
  max-width: 100px;
  max-height:100px;
  height: auto;
  margin-bottom: 10px;
  border: 2px solid #556B2F; 
  border-radius: 5px; 
}

.product p {
  margin: 5px 0;
  font-size: 14px;
}

.product button {
  background-color: #5c8a33;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.product button:hover {
  background-color: #497225;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/*--------------------------CAROUSSEL---------------------------------*/
/* Conteneur du carrousel */
.carousel-container {
  display: flex;
  white-space: nowrap;
  transition: none; 
  will-change: transform; 
}

.carousel-wrapper {
  position: relative;
  overflow: visible;
  width: 100%; /* Assure que le carrousel occupe toute la largeur disponible */
}


.product {
  flex: 0 0 auto; 
  width: 12.5%; 
  margin-right: 2%; 
  box-sizing: border-box; 
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box; /* Inclut la marge et les bordures dans la largeur */
  position: relative; /* Nécessaire pour gérer le `z-index` */
}

.product:hover {
  transform: scale(1.05); /* Exemple d'effet au survol */
  transition: transform 0.3s ease; /* Douce transition */
  z-index: 10; /* Mettre le produit au-dessus des autres pour un meilleur effet */
  position: relative; /* Permet de le placer au-dessus des autres éléments */
}

.product img {
  max-width: 100%; 
  height: auto;
  border-radius: 5px;
}

.product p {
  font-size: 1rem;
  color: #333;
  overflow: hidden; /* Empêche le texte de déborder */
  text-overflow: ellipsis; /* Ajoute des points de suspension */
  white-space: nowrap; /* Empêche le passage à la ligne */
  margin: 0; /* Réduit les marges pour éviter d'ajouter de l'espace inutile */
}

.product button {
  padding: 8px 12px;
  background-color: #5a7c55;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product button:hover {
  background-color: #5a7c55;
}




/*--------------------------GAMME---------------------------------*/

  .container {
    display: flex;
    justify-content: center; /* Centre horizontalement les éléments à l'intérieur */
    align-items: center; /* Centre verticalement les éléments à l'intérieur */
    gap: 20px; /* Espacement entre les colonnes */
    padding: 20px; /* Espace autour du contenu à l'intérieur */
    width: 100%; /* Prend toute la largeur disponible de l'écran */
    max-width: 1200px; /* Limite la largeur du container à 1200px */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    flex-wrap: wrap; /* Permet d'empiler les colonnes sur des petits écrans */
    margin: 0 auto; /* Centre le container horizontalement avec une marge automatique */
  }

.gamme {
  position: relative;
  flex: 1;
  max-width: 45%; /* Ajuste la largeur pour mieux s'adapter à la taille de l'écran */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Ajout d'un effet de transformation */
}

.gamme:hover {
  transform: scale(1.05); /* Effet zoom au survol */
}

/* Image des gammes */
.gamme-image img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

/* Overlay (effet au-dessus des images) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Centre horizontalement le bouton */
  align-items: center; /* Centre verticalement le bouton */
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

/* Afficher l'overlay au survol */
.gamme:hover .overlay {
  opacity: 1;
}

/* Style des boutons */
.button {
  background-color: #5a7c55;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Effet hover sur le bouton */
.button:hover {
  background-color: #496945;
}





/*--------------------------CS---------------------------------*/

.customer-carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden; /* Masquer les éléments qui débordent du conteneur */
}

.customer-carousel-wrapper {
  display: flex;
  transition: transform 1s ease-in-out; /* Transition fluide lors du défilement */
  width: 300%; /* Trois éléments, donc le wrapper fait 300% de la largeur visible */
}

.customer-story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%; /* Chaque élément prend 100% de la largeur visible du conteneur */
  max-width: 900px;
  box-sizing: border-box;
}

.image-section {
  flex: 1;
  text-align: center;
  justify-content: center;
  max-width: 400px;
  max-height: 400px;
}

.customer-image {
  width: 60%;
  border-radius: 10px;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.description {
  font-size: 25px;
  font-style: italic;
  color: #555;
  line-height: 1.5;
  max-width: 500px;
  font-family: 'Great Vibes', cursive;
}




/*--------------------------FAQ---------------------------------*/

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* FAQ Section */
.faq-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.faq-item {
  background-color: #556B2F;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-question {
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  padding: 15px;
  background-color: #6B8E23;
  display: none;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-question {
  background-color: #6B8E23;
}

.arrow {
  font-size: 18px;
}

.more {
  text-align: center;
  text-decoration: none; /* Supprime le soulignement */
  color: #D2691E;
}

a p.more {
  text-decoration: none; /* Supprime le soulignement */
  cursor: pointer; /* Affiche un curseur adapté pour un lien */
}

a {
  text-decoration: none; /* Supprime le soulignement par défaut */
}